<!DOCTYPE html>
<html>
<head>
	<title><%= (section === "artifacts" ? "Artifacts" : "Stories") %> | Forum | Building A Better Life</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"></head>
	<link rel="stylesheet" href="/searchBar.css">
	<link rel="stylesheet" href="/forum.css">
	<link rel="stylesheet" href="/post.css">
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>

	<div class="forum">

		<% include templates/nav.ejs %>
		<% include templates/background.ejs %>
		<% include templates/root.ejs %>

		<div id="content">
			<% include templates/page.ejs %>

			<section id="post">
				<header>
					<h2 style="color: <%= (section === "artifacts" ? "orangered" : "deepskyblue") %>">show people your <%= section %>!</h2>
				</header>
				<ul>
<!--					show at most 9 posts exist in each section-->
					<% if (array.length === 0) { %>
						<p> Sorry there is no existing post right now.</p>

					<% } %>
					<% array.forEach(function(element) { %>
						<% include templates/postList.ejs %>
					<% }); %>
				</ul>
			</section>
		</div>
	</div>

</body>
</html>