<html>
<head>
    <link rel = "stylesheet" href="login.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>


<div class ="login" >
    <h0 id ="app" class = "login-header">
        <%= message %>
    </h0>
</div>
<br>
<main class ="login-form">


    <h3 id = "username">
        <%= username %>
        </h3>
    <input id = "user" type="text" placeholder="Username"/><br>
    <h3 id = "password" >
       <%= password %>
       </h3>
    <input id = "pass" type="password" placeholder="Password"/><br>
<br>
    <input type="button" value="Login" onclick="wronguser()" class="login-button"/>
    <br>

    <a class="help" href="register.html">Sign up!</a><br>
    <br>
    <a href="forget.html" class="help">forget your password?</a>
    <br>
    <br>

</main>
<br>

<script src="login.js"></script>
</body>
</html>