

<head>
    <link rel = "stylesheet" href="othercss.css">
    <meta charset="UTF-8">

    <title>Title</title>
</head>

<body>
<div class="container">
    <br><br><br><br>
    <div class="row cf">
        <div id="card1" class="card four col">
            <div class="image-wrapper"></div>
            <h3 class="name">Martin</h3>
            <div class="info cf">
                <div class="four col"><span class="number">58</span>Posts</div>
                <div class="four col"><span class="number">4800</span>Collects</div>
                <div class="four col"><span class="number">86</span>Likes</div>
            </div>
            <br><br>
            <div class="info cf">
                <div class="four col"><span class="number">77</span>Following</div>
                <div class="four col"><span class="number">777</span>Followed</div>
                <div class="four col"><span class="number">4396</span>Liked</div>
            </div>
        </div>

        <div id="card2" class="card four col">
            <div class="header"></div>
            <div class="wrapper">
                <div class="image-wrapper"></div>
                <h3 class="name">About me</h3>

                <div class="info">
                    <p>This man is lazy, leaving nothing behind...</p>
                </div>
            </div>
        </div>

        <div id="card1" class="card four col">
            <div class="header">edit</div>
            <div class="wrapper">
                <h2 class="name">More about me...</h2>
            </div>
            <div class="options">
                <ul>
                    <li><span class="icon"><i class="fa fa-plus" ></i></span>Rank:</li>
                    <li><span class="icon"><i class="fa fa-envelope" ></i></span>Level:</li>
                    <li><span class="icon"><i class="fa fa-envelope" ></i></span>Gender:</li>
                    <li><span class="icon"><i class="fa fa-plus" ></i></span>Phone:</li>
                    <li><span class="icon"><i class="fa fa-envelope" ></i></span>E-mail:</li>
                    <li><span class="icon"><i class="fa fa-envelope" ></i></span>BD:</li>

                </ul>
            </div>
        </div>
    </div>
</div>
</div>
</body>
<script src="otheruser.js"></script>
</html>