<!-- the navigation section -->

<div id="topnav">
	<a href="/">Main</a>
	<a href="/library">Library</a>
	<a href="/forum">Forum</a>
	<form class="searchform">
		<input type="text" name="keyword" placeholder=" Search for part of a title">
		<button type="submit">Search</button>
	</form>

<!--	if logined in already, show create new post button-->
	<a href="/post_edit" style="float: right; background-color: #34ac98; color: white; height: 45px;">New Post</a>
	<% if (viewer) { %>
		<button id="logout" onclick="" style="float: right; border-radius: 8px; height: 45px; background-color: #34ac98; color: white; border-style: none;" >Log Out</button>
		<a href="/profile" style="float: right; color: black;"><%= viewerName %></a>
		<img src="<%= viewerAvatar %>"; alt="user token"; style="float: right; width: 45px; height: 45px;">
		<script>
			var logout = document.getElementById("logout");
			logout.onclick = function() {
				window.location = '/logout?orig=' + window.location.pathname+window.location.search
			};
		</script>
	<% } else { %>
<!--	if not login in, show register and login buttons-->
		<a href="/register.html" style="float: right;">Register</a>
		<a id="login" href="/login?orig=" style="float: right;">Login</a>
		<script>
			var login = document.getElementById("login");
			var currHref = login.getAttribute('href');
			login.setAttribute('href', currHref + window.location.pathname+window.location.search);
		</script>
	<% } %>
</div>