<div id="topnav">
	<a href="/">Main</a>
	<a href="/forum">Forum</a>
	<form class="searchform">
		<input type="text" placeholder=" a tag or part of a title">
		<button type="submit">Search</button>
	</form>

	<a href="#" style="float: right; background-color: #34ac98; color: white;">New Post</a>
	<a href="#" style="float: right;">Register</a>
	<a href="#" style="float: right;">Login</a>
	
</div>