<div id="topnav">
	<a href="/">Main</a>
	<a href="/forum">Forum</a>
	<form class="searchform">
		<input type="text" name="keyword" placeholder=" Search for part of a title">
		<button type="submit">Search</button>
	</form>

	<a href="/post_edit" style="float: right; background-color: #34ac98; color: white;">New Post</a>
	<% if (viewer != 0) { %>
		<a href="/profile" style="float: right;"><%= viewer.name %></a>
		<img src=<%= viewer.avatar %>; alt="user token"; style="float: right;">
	<% } else { %>
		<a href="/register.html" style="float: right;">Register</a>
		<a id="login" href="/login?orig=" style="float: right;">Login</a>
	<% } %>

	<script>
		var link = document.getElementById("login"); // store the element
		var curHref = link.getAttribute('href'); // get its current href value
		link.setAttribute('href', curHref + window.location.pathname);
	</script>
</div>