<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <div id="username" hidden>None</div>
    <!--Logged in-->
    <!--<div id="user" hidden>User ID</div>-->


</head>

<body>
<div id="textedit">
    <input type="text" v-model="content" class="form-control" />


    <div class="row">
        <div class="col-md-6">
            <vue-tinymce class="form-control required" v-model="content" :options="tinymceOptions"></vue-tinymce>
        </div>
        <div class="col-md-6">

        </div>
    </div>
</div>
<div id="nouser" style="display: none;">Please <a href="login.html">log in</a> first!</div>
<button id="show" onclick="show()">SWITCH LOGGED IN (FOR DEV)</button>
<script src='./js/jquery.min.js'></script>
<script src='./js/bootstrap.min.js'></script>
<script src='./js/vue.js'></script>
<script src='./js/tinymce.min.js'></script>

<script  src="post_edit.js"></script>


<script>
    if (document.getElementById('username').textContent === 'None') {
        document.getElementById('textedit').style.display = "none";
        document.getElementById('nouser').style.display = "block";
    };
    function show() {
        document.getElementById('textedit').style.display = "block";
        document.getElementById('nouser').style.display = "none";
        document.getElementById('show').setAttribute("onClick", "hide()");
    };
    function hide() {
        document.getElementById('textedit').style.display = "none";
        document.getElementById('nouser').style.display = "block";
        document.getElementById('show').setAttribute("onClick", "show()");
    };
</script>


</body>

</html>
