#user #description {
    padding: 10px 10px;
    border-right-style: ridge;
    border-right-color: rgba(225, 229, 235, 0.3);
    width: 20%;
    float: left;
    align-items: center;
    justify-content: center;
}

#description #user_info {
    margin: 20px
}


#content #post {
    width: 100%;
}

#user {
    word-wrap: break-word;
    color: #34AC98;
    border-bottom-style: ridge;
}

#reply p {
    padding: 4px;
    border-style: outset;
    color: white;
    float: right;
    border-radius: 8px;
    margin: 6px 6px 0 0;
    background-color: royalblue;
}

#post-section, #comment {
    float: right;
    width: 80%;
}

#post-section p {
    margin: 10px;
}
#comment p {
    margin: 10px;
}
